@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/style-top-bar.css";
@import "components/nav.css";
@import "components/profile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friend.css";
@import "screens/mediaquery.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border-right: 15px;
  font-family: "Oswald", sans-serif;
  background-color: white;
}
