.title a {
  text-decoration: none;
  color: inherit;
}
.chat img {
  border-radius: 25%;
  height: 70px;
  width: 70px;
}
.chat-guest_profile {
  display: flex;
}
.chat-guest_profile > * {
  margin-left: 20px;
}
.chat-info {
  display: flex;
  justify-content: flex-start;
}
.chat-info > * {
  margin-left: 20px;
}
