.title {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.title span {
  margin: 0px 15px;
  font-weight: 600;
}

.title__icons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.title__icons i {
  margin-right: 20px;
}

.explain {
  background-color: rgba(0, 0, 0, 0.04);
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explain i {
  opacity: 0.4;
  margin: 0px 10px;
}
.profile {
  font-size: x-large;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom-width: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.profile img {
  margin: 0px 10px;
  width: 120px;
  height: 120px;
  border-radius: 35px;
}

.channel-title {
  opacity: 0.5;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.channel-main {
  display: flex;
  justify-content: space-between;
}
.channel-main div:first-child {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.channel-main div:nth-child(2) {
  margin-left: 15px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.channel-main-left span {
  margin-left: 20px;
  font-size: 35px;
}
.channel-main-right i,
.channel-main-right span {
  margin-left: 20px;
  font-size: 20px;
  opacity: 0.2;
}
.channel-main img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
