body {
  color: var(--main-color);
  margin: 0;
  border-right: 15px;
  font-family: "Oswald", sans-serif;
  background-color: rgb(0, 0, 0);
}

.channel {
  font-size: 30px;
}

.explain {
  background-color: rgba(177, 177, 177, 0.04);
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explain i {
  opacity: 0.4;
  margin: 0px 10px;
}
