.status-bar {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

.title {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.title span {
  margin: 0px 15px;
  font-weight: 600;
}

.title__icons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.title__icons i {
  margin-right: 20px;
}
